@using Testeger.Client.Services.Projects
@using Testeger.Shared.DTOs.Requests.CreateProject
@inject DialogService DialogService

@inject IProjectServiceNV ProjectServiceNV

<EditForm Model="newProject" OnValidSubmit="NotifyParent">
    <DataAnnotationsValidator />

    <div class="row mb-4">
        <div class="col-9">
            <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H3">Name</RadzenText>
            <InputText id="name"
                       class="form-control inputtext"
                       placeholder="Enter the project name"
                       @bind-Value="newProject.ProjectName" />
            <ValidationMessage For="@(() => newProject.ProjectName)" />
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-12 d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H3" class="mb-0">Project Members</RadzenText>
                <small style="font-size: 11px;">When creating, you will be automatically assigned the role of project manager.</small>
            </div>

            <RadzenButton Icon="add" Text="Add member" Size="ButtonSize.Small" ButtonStyle="ButtonStyle.Primary" Click="AddMember" class="me-4"></RadzenButton>
        </div>
    </div>

    <div class="row mb-2 d-flex flex-column justify-content-start" style="min-height: 250px;">
        @foreach (var member in newProject.Members)
        {
            <div class="row mb-2">
                <div class="col-8 mb-0 pb-0">
                    <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H3">E-mail</RadzenText>
                    <InputText @bind-Value="member.Email" placeholder="E-mail" class="form-control inputtext" />
                    <ValidationMessage For="@(() => member.Email)" />


                </div>
                <div class="col-4 m-0 pb-0">
                    <RadzenText TextStyle="TextStyle.Subtitle1" TagName="TagName.H3">Role</RadzenText>
                    <InputSelect @bind-Value="member.Role" class="form-control inputtext">
                        @foreach (var role in Enum.GetValues<RoleType>())
                        {
                            if (CanDisplayRole(role))
                            {
                                <option value="@role">@role</option>
                            }
                        }
                    </InputSelect>
                    <ValidationMessage For="@(() => member.Role)" />
                </div>
            </div>

        }
    </div>

    <div class="row">
        <div class="col-4">
            <RadzenButton ButtonType="ButtonType.Submit"
                          Text="Create project"
                          Size="ButtonSize.Medium"
                          ButtonStyle="ButtonStyle.Primary" />
        </div>
    </div>

</EditForm>
@code {
    [Parameter]
    public EventCallback<string> OnFormSubmitted { get; set; }

    private ProjectCreationViewModel newProject = new();

    //private bool IsAbleToProjectCreation => ProjectService.GetProjectCount() < 2;

    private async Task NotifyParent()
    {
        var request = GetCreateProjectRequest();
        var response = await ProjectServiceNV.CreateProjectAsync(request);

        DialogService.Close(true);
        await OnFormSubmitted.InvokeAsync(response?.Id);
        newProject = new();
    }

    private CreateProjectRequest GetCreateProjectRequest()
    {
        return new CreateProjectRequest
            {
                Name = newProject.ProjectName ?? string.Empty,
                UserId = Guid.NewGuid().ToString()
            };
    }

    // NEED TO BE FIXED WHEN USERS ARE IMPLEMENTED
    private List<User> GetMembers()
    {
        var members = new List<User>();

        foreach (UserViewModel memberVM in newProject.Members)
        {
            var user = new User
            {
                Id = Guid.NewGuid().ToString(),
                Name = "User",
                Email = memberVM.Email,
                Role = memberVM.Role
            };

            members.Add(user);
        }

        members.Add(GetProjectCreator());

        return members;
    }

    private User GetProjectCreator() // Temporary
    {
        return new User
            {
                Id = Guid.NewGuid().ToString(),
                Name = "Lucas",
                Email = "lucasbeskudlark@gmail.com",
                Role = RoleType.ProjectManager
            };
    }

    private void AddMember()
    {
        newProject.Members.Add(new UserViewModel());
    }

    private bool CanDisplayRole(RoleType role) => role != RoleType.ProjectManager;
}
