@page "/project/{ProjectId}/metrics"
@using Testeger.Client.Models
@layout DefaultLayout
@inject ITestRequestServiceNV TestRequestService
@inject ITestCaseServiceNV TestCaseService
@inject IProjectServiceNV ProjectService
@attribute [Authorize(Policy = $"{AuthorizationRoles.Manager}")]

<PageTitle>@Project?.Name Metrics - Testeger</PageTitle>

@if (isInitialized)
{
   <div class="container-fluid">
    <div class="row d-flex justify-content-between mb-4">
        <div class="col-auto">
            <RadzenBreadCrumb>
                <RadzenBreadCrumbItem Path="@BreadCrumbHelper.GetProjectUrl(ProjectId)" Text="Project" />
                <RadzenBreadCrumbItem Text="Metrics" />
            </RadzenBreadCrumb>
        </div>
        <div class="col-3 d-flex justify-content-end">
                <RadzenDropDown TValue="DateTime?"
                                Data="FilterOptions"
                                TextProperty="Text"
                                ValueProperty="Value"
                                @bind-Value="@FilterDate"
                                Change="@(args => StateHasChanged())" />
            </div>
    </div>
        @if ((TestCases is null && TestRequests is null) || (!TestCases.Any() && !TestRequests.Any()))
        {
            <div class="row mt-4 d-flex justify-content-center">
                <div class="col-12">
                    <RadzenCard class="vh-100 d-flex align-items-center justify-content-center">

                        <h5 style="color: #A9ABAE;"><i>There are no metrics for this project yet.</i></h5>
                    </RadzenCard>
                </div>
            </div>
        } else
        {
            <RadzenCard class="my-3 py-2">
                <ToggleComponent>
                    <Header>
                        <RadzenText TextStyle="TextStyle.H6" class="mt-2">Test requests metrics:</RadzenText>
                    </Header>
                    <ChildContent>
                        <div class="row mt-3 d-flex align-items-start">
                            <div class="col-6">
                                <TestRequestGeneralMetricsDatagrid TestRequests="TestRequests" FilterDate="FilterDate" />
                            </div>
                            <div class="col-6">
                                <RequestTimeSpentInEachStatusChart TestRequests="TestRequests" TestRequestsByStatus="TestRequestsByStatus"/>
                            </div>
                        </div>

                        <div class="row mt-4 d-flex justify-content-center mb-4">
                            <div class="col-10">
                                <TestRequestCountPerStatusChart TestRequestsByStatus="TestRequestsByStatus" FilterDate="FilterDate" />
                            </div>
                        </div>
                    </ChildContent>
                </ToggleComponent>  
            </RadzenCard>

            <RadzenCard class="my-3 py-2">
                <ToggleComponent>
                    <Header>
                        <RadzenText TextStyle="TextStyle.H6" class="mt-2">Test cases metrics:</RadzenText>
                    </Header>
                    <ChildContent>
                        <div class="row mt-3">
                            <div class="col-6">
                                <TestCaseCountPerStatusChart TestCasesByStatus="TestCasesByStatus" FilterDate="FilterDate" />
                            </div>
                            <div class="col-6">
                                <TestCaseGeneralMetricsDatagrid TestCases="TestCases" TestRequests="TestRequests" FilterDate="FilterDate" />
                            </div>
                        </div>

                        <div class="row mt-4 mb-4">
                            <div class="col-12">
                                <TestCaseTimeSpentInEachStatusChart TestCasesByStatus="TestCasesByStatus" TestCases="TestCases" FilterDate="FilterDate" />
                            </div>
                        </div>
                    </ChildContent>
                </ToggleComponent>
            </RadzenCard>

            <RadzenCard class="my-3 py-2">
                <ToggleComponent>
                    <Header>
                        <RadzenText TextStyle="TextStyle.H6" class="mt-2">Team metrics:</RadzenText>
                    </Header>
                    <ChildContent>
                        <div class="row mt-3 mb-4">
                            <div class="col-6">
                                <RequestCountPerProjectQAChart TestRequests="@TestRequests" ProjectId="@ProjectId"/>
                            </div>
                            <div class="col-6 pb-0">
                                <TestCaseCountPerProjectQAChart TestCases="@TestCases" ProjectId="@ProjectId"/>
                            </div>
                        </div>
                    </ChildContent>
                </ToggleComponent>
            </RadzenCard>

            <RadzenCard class="my-3 py-2">
                <ToggleComponent>
                    <Header>
                        <RadzenText TextStyle="TextStyle.H6" class="mt-2">Individual metrics:</RadzenText>
                    </Header>
                    <ChildContent>
                        <div class="row mt-3 mb-4">
                            <IndividualProjectQAMetrics />
                        </div>
                    </ChildContent>
                </ToggleComponent>
            </RadzenCard>
        }
    </div> 
}

@code {
    [Parameter]
    public string ProjectId { get; set; }

    public DateTime? FilterDate { get; set; }
    private List<DateFilterOption> FilterOptions { get; set; }

    private ProjectViewModel Project { get; set; }
    private IEnumerable<TestRequestViewModel> TestRequests { get; set; }
    private IEnumerable<TestCaseViewModel> TestCases { get; set; }
    private Dictionary<RequestStatus, IEnumerable<TestRequestViewModel>> TestRequestsByStatus { get; set; }
    private Dictionary<TestCaseStatus, IEnumerable<TestCaseViewModel>> TestCasesByStatus { get; set; }

    private bool isInitialized;

    protected override async Task OnInitializedAsync()
    {
        Project = await ProjectService.GetProjectByIdAsync(ProjectId);
        TestRequests = await TestRequestService.GetTestRequestsByProjectIdAsync(ProjectId);
        TestRequestsByStatus = await TestRequestService.GetTestRequestsByProjectIdGroupedByStatus(ProjectId);
        TestCases = await TestCaseService.GetTestCasesByProjectIdAsync(ProjectId);
        TestCasesByStatus = await TestCaseService.GetTestCasesByProjectIdGroupedByStatus(ProjectId);

        FilterOptions = new List<DateFilterOption>
        {
            new DateFilterOption { Text = "All Time", Value = null },
            new DateFilterOption { Text = "Past Week", Value = DateTime.Now.AddDays(-7) },
            new DateFilterOption { Text = "Past Month", Value = DateTime.Now.AddMonths(-1) },
            new DateFilterOption { Text = "Past 3 Months", Value = DateTime.Now.AddMonths(-3) },
            new DateFilterOption { Text = "Past Year", Value = DateTime.Now.AddYears(-1) }
        };

        if (FilterDate is null)
        {
            FilterDate = FilterOptions.FirstOrDefault(o => o.Text == "Past Month")?.Value;
        }

        isInitialized = true;
    }
}