@page "/test-case/{TestCaseId}"
@using Testeger.Client.Services.TestCases
@using Testeger.Client.Services.TestRequests
@using Testeger.Client.ViewModels.TestRequests
@using Testeger.Shared.DTOs.Responses.TestCase
@using Testeger.Shared.DTOs.Responses.TestRequest
@layout DefaultLayout
@inject NavigationManager NavigationManager
@inject TooltipService TooltipService
@inject DialogService DialogService
@inject ITestCaseServiceNV TestCaseService
@inject ITestRequestServiceNV TestRequestService


@if (TestCase is not null)
{
    <PageTitle>@TestCase.Title - Testeger</PageTitle>

    <div class="container-fluid mb-5 mt-2">
        <div class="row justify-content-between">
            <div class="col-auto">
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Path="@Testeger.Client.Helpers.BreadCrumbHelper.GetProjectUrl(Request.ProjectId)" Text="Project" />
                    <RadzenBreadCrumbItem Path="@Testeger.Client.Helpers.BreadCrumbHelper.GetRequestUrl(Request.Id)" Text="@Testeger.Client.Helpers.BreadCrumbHelper.GetRequestText(Request.Number)" />
                    <RadzenBreadCrumbItem Text="@TestCase.Title" />
                </RadzenBreadCrumb>
            </div>
            <div class="col-auto d-flex">
                <RadzenButton Icon="play_arrow"
                              Text="@testButtonText"
                              ButtonStyle="@testButtonStyle"
                              Size="ButtonSize.Small"
                              Click="@HandleButtonClick"
                              Disabled="@isNotScheduled"
                              class="me-2" />

                <RadzenButton Icon="save"
                              Text="Save"
                              ButtonStyle="ButtonStyle.Primary"
                              Size="ButtonSize.Small"
                              Click="@HandleTestCaseUpdate"
                              MouseEnter="@(args => ShowTooltip(args, "Save the changes made in this request"))"
                              class="me-2" />

                <RadzenButton Icon="delete"
                              Text="Delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Shade="Shade.Darker"
                              Size="ButtonSize.Small"
                              Click="@HandleTestCaseDeletion"
                              MouseEnter="@(args => ShowTooltip(args, "Delete this entire request"))" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-6 pb-2 right-divider">
                <TestCaseDetailsPage Request="Request" TestCase="TestCase" />
            </div>

            <div class="col-6 pb-2">
                <TestCaseTestingDetails TestCase="TestCase" />
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string TestCaseId { get; set; }

    [Parameter]
    public EventCallback OnTestCaseDeleted { get; set; }

    [Parameter]
    public EventCallback OnTestCaseUpdated { get; set; }

    public TestRequestViewModel Request { get; set; }
    private GetTestCaseResponse TestCase { get; set; }

    private bool isNotScheduled;
    private bool isTestRunning = false;
    private string testButtonText => isTestRunning ? "Continue Test" : "Start Test";
    private ButtonStyle testButtonStyle => isTestRunning ? ButtonStyle.Warning : ButtonStyle.Success;

    protected override async Task OnInitializedAsync()
    {
        TestCase = await TestCaseService.GetTestCaseByIdAsync(TestCaseId);
        Request = await TestRequestService.GetTestRequestByIdAsync(TestCase.TestRequestId);
        isNotScheduled = TestCase.ScheduledDate != default;
        TestCaseService.OnChange += StateHasChanged;
        TestCaseService.OnTestCaseUpdated += UpdateTestCase;
    }

    private async Task HandleTestCaseDeletion()
    {
        if (TestCase != null)
        {
            await TestCaseService.DeleteTestCaseByIdAsync(TestCase.Id);
            NavigationManager.NavigateTo(Testeger.Client.Helpers.BreadCrumbHelper.GetRequestUrl(Request.Id));
            await OnTestCaseDeleted.InvokeAsync();
        }
    }

    private async Task HandleTestCaseUpdate()
    {
        if (TestCase != null)
        {
            // await TestCaseService.UpdateTestCase(TestCase);
            // await OnTestCaseUpdated.InvokeAsync();
            // isNotScheduled = !TestCase.ScheduledDate.HasValue;
        }
    }

    private async Task HandleButtonClick()
    {
        isTestRunning = true;
        await OpenTestCaseTestingDialog();
    }

    public async Task OpenTestCaseTestingDialog()
    {
        var options = new DialogOptions { Width = "700px", Height = "630px", Resizable = false, Draggable = true };
        await DialogService.OpenAsync<TestCaseTestingDialog>("Testing",
            new Dictionary<string, object> { { "TestCaseId", TestCaseId }, { nameof(TestCaseTestingDialog.OnTestFinished), UpdateTestCaseResult } },
            options);
    }

    private void ShowTooltip(ElementReference elementReference, string message, TooltipOptions options = null)
    {
        TooltipService.Open(elementReference, message, options);
    }

    private EventCallback UpdateTestCaseResult => new(this, async () =>
    {
        UpdateTestCase();
        isTestRunning = false;
        await InvokeAsync(StateHasChanged);
    });

    private async void UpdateTestCase()
    {
        TestCase = await TestCaseService.GetTestCaseByIdAsync(TestCaseId);
        StateHasChanged();
    }
}
