@page "/test-case/{TestCaseId}"
@layout DefaultLayout
@inject TestCaseService TestCaseService
@inject TestRequestService TestRequestService
@inject NavigationManager NavigationManager
@inject TooltipService TooltipService

@if(TestCase is not null)
{
    <div class="rz-m-12 p-0 m-0">
        <div class="row justify-content-between">
            <div class="col-auto">
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Path="@BreadCrumbHelper.GetProjectUrlBasedOnRequest(Request)" Text="Project" />
                    <RadzenBreadCrumbItem Path="@BreadCrumbHelper.GetRequestUrl(Request)" Text="@BreadCrumbHelper.GetRequestText(Request)" />
                    <RadzenBreadCrumbItem Text="@TestCase.Title" />
                </RadzenBreadCrumb>
            </div>
            <div class="col-auto d-flex">
                <RadzenButton Icon="play_arrow"
                              Text="Start test"
                              ButtonStyle="ButtonStyle.Success"
                              Size="ButtonSize.Small"
                              Click="OpenTestCaseTestingDialog"
                              class="me-2" />

                <RadzenButton Icon="save"
                              Text="Save"
                              ButtonStyle="ButtonStyle.Primary"
                              Size="ButtonSize.Small"
                              Click="HandleTestCaseUpdate"
                              MouseEnter="@(args => ShowSaveTestCaseButtonTooltip(args) )"
                              class="me-2" />

                <RadzenButton Icon="delete"
                              Text="Delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Size="ButtonSize.Small"
                              Click="HandleTestCaseDeletion"
                              MouseEnter="@(args => ShowDeleteTestCaseButtonTooltip(args) )" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-6 pb-2 right-divider">
                <TestCaseDetailsPage Request="Request" TestCase="TestCase" />
            </div>

            <div class="col-6 pb-2">
                <TestCaseTestingDetails TestCase="TestCase" />
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string TestCaseId { get; set; }

    [Parameter]
    public EventCallback OnTestCaseDeleted { get; set; }

    [Parameter]
    public EventCallback OnTestCaseUpdated { get; set; }

    [Inject]
    public DialogService DialogService { get; set; }

    public TestRequest Request { get; set; }

    private TestCase TestCase { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        TestCase = await TestCaseService.GetTestCaseById(TestCaseId);
        Request = await TestRequestService.GetTestRequestById(TestCase.RequestId);

        TestCaseService.OnChange += StateHasChanged;
    }

    private async Task HandleTestCaseDeletion()
    {
        if (TestCase != null)
        {
            await TestCaseService.RemoveTestCase(TestCase);
            NavigationManager.NavigateTo(BreadCrumbHelper.GetRequestUrl(Request));
            await OnTestCaseDeleted.InvokeAsync();
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task HandleTestCaseUpdate()
    {
        if (TestCase != null)
        {
            await TestCaseService.UpdateTestCase(TestCase);
            await OnTestCaseUpdated.InvokeAsync();
            await InvokeAsync(StateHasChanged);
        }
    }

    public async Task OpenTestCaseTestingDialog()
    {
        await DialogService.OpenAsync<TestCaseTestingDialog>(
            "Testing",
            new Dictionary<string, object>() { { "TestCaseId", TestCaseId } },
            new DialogOptions() { Width = "700px", Height = "630px", Resizable = false, Draggable = true }
        );
    }

    private void ShowStartTestButtonTooltip(ElementReference elementReference, TooltipOptions options = null)
                    => TooltipService.Open(elementReference, "Open the menu to start the test for this test case", options);

    private void ShowSaveTestCaseButtonTooltip(ElementReference elementReference, TooltipOptions options = null)
                    => TooltipService.Open(elementReference, "Save the changes made in this request", options);

    private void ShowDeleteTestCaseButtonTooltip(ElementReference elementReference, TooltipOptions options = null)
                    => TooltipService.Open(elementReference, "Delete this entire request", options);
}

<style>
    .right-divider {
        border-right: 1px solid #ced4da;
    }
</style>
