@page "/test-case/{TestCaseId}"
@layout DefaultLayout
@inject DialogService DialogService
@inject TestCaseService TestCaseService
@inject TestRequestService TestRequestService
@inject NavigationManager NavigationManager
@inject TooltipService TooltipService

@if(TestCase is not null)
{
    <div class="rz-m-12 p-0 m-0">
        <div class="row justify-content-between">
            <div class="col-auto">
                <RadzenBreadCrumb>
                    <RadzenBreadCrumbItem Path="@BreadCrumbHelper.GetProjectUrl(Request)" Text="Project" />
                    <RadzenBreadCrumbItem Path="@BreadCrumbHelper.GetRequestUrl(Request)" Text="@BreadCrumbHelper.GetRequestText(Request)" />
                    <RadzenBreadCrumbItem Text="Test Case" />
                </RadzenBreadCrumb>
            </div>
            <div class="col-auto d-flex">
                <RadzenButton Icon="save"
                              Text="Save"
                              ButtonStyle="ButtonStyle.Primary"
                              Size="ButtonSize.Small"
                              Click="HandleTestCaseUpdate"
                              MouseEnter="@(args => ShowSaveTestCaseButtonTooltip(args) )"
                              class="me-2" />
                <RadzenButton Icon="delete"
                              Text="Delete"
                              ButtonStyle="ButtonStyle.Danger"
                              Size="ButtonSize.Small"
                              Click="HandleTestCaseDeletion"
                              MouseEnter="@(args => ShowDeleteTestCaseButtonTooltip(args) )" />
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row d-flex justify-content-between">
            <div class="col-7 pb-2 right-divider">
                <TestCaseDetailsPage TestCase="TestCase" />
            </div>

            <div class="col-5 pb-2">
                <p @onclick="ToggleContent" style="cursor: pointer; color: blue; text-decoration: underline;">Click to toggle content</p>

                @if (isContentVisible)
                {
                    <div>
                        <p>Here is some HTML content that can be toggled.</p>
                        <button class="btn btn-secondary">Button inside toggled content</button>
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public string TestCaseId { get; set; }

    [Parameter]
    public EventCallback OnTestCaseDeleted { get; set; }

    [Parameter]
    public EventCallback OnTestCaseUpdated { get; set; }

    public TestRequest Request { get; set; }

    private TestCase TestCase { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        TestCase = await TestCaseService.GetTestCaseById(TestCaseId);
        Request = await TestRequestService.GetTestRequestById(TestCase.RequestId);

        TestCaseService.OnChange += StateHasChanged;
    }

    private async Task HandleTestCaseDeletion()
    {
        if (TestCase != null)
        {
            await TestCaseService.RemoveTestCase(TestCase);
            NavigationManager.NavigateTo(BreadCrumbHelper.GetRequestUrl(Request));
            await OnTestCaseDeleted.InvokeAsync();
            await InvokeAsync(StateHasChanged);
        }
    }

    private async Task HandleTestCaseUpdate()
    {
        if (TestCase != null)
        {
            await TestCaseService.UpdateTestCase(TestCase);
            await OnTestCaseUpdated.InvokeAsync();
            await InvokeAsync(StateHasChanged);
        }
    }

    private void ShowSaveTestCaseButtonTooltip(ElementReference elementReference, TooltipOptions options = null)
                    => TooltipService.Open(elementReference, "Save the changes made in this request", options);

    private void ShowDeleteTestCaseButtonTooltip(ElementReference elementReference, TooltipOptions options = null)
                    => TooltipService.Open(elementReference, "Delete this entire request", options);

    private bool isContentVisible = false;

    private void ToggleContent(MouseEventArgs e)
    {
        isContentVisible = !isContentVisible;
    }
}

<style>
    .right-divider {
        border-right: 1px solid #4F4F50;
    }
</style>
